JWT_SECRET_KEY=YourSecretKey
DATABASE_URL=postgresql://postgres:YOURPASSWORDHERE@localhost:5432/task_manager

BASE_URL=http://localhost:5000

MAIL_USERNAME=test@mail.com
MAIL_PASSWORD="aaaa bbbb cccc dddd"
MAIL_DEFAULT_SENDER=test@mail.com

SEED_ADMIN_EMAIL=test@mail.com
SEED_ADMIN_PASSWORD=YourPassword