:root {
/*  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 16px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/

  margin: 0;
  overflow: hidden;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
  overflow: hidden;
  background: var(--bg);
  color: var(--text);
}

#root {
  /*width: 1126px;*/
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: start;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  overflow: hidden;
}

p {
  margin: 0;
}

code,
.counter {
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

a {
  color: inherit;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}

#content {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  padding-top: 15px;
  padding-left: 15px;
  width: inherit;
  max-width: 100%;
  height: 100vh;
}

.task-filter, .project-filter {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.created-by-container,
.assigned-to-container,
.followed-by-container,
.status-container,
.priority-container,
.project-container {
  position: relative;
}

.created-by-filter, .created-by-option,
.assigned-to-filter, .assigned-to-option,
.followed-by-filter, .followed-by-option,
.status-filter, .status-option,
.priority-filter, .priority-option,
.project-filter, .project-option {
  font-style: normal;
  font-weight: normal;
  color: #dee2e6;
  background-color: inherit;
  border: 0;
}

.created-by-filter,
.assigned-to-filter,
.followed-by-filter,
.status-filter,
.priority-filter,
.project-filter {
  padding: 0 3px;
}

.text-filter {
  margin-right: 3px;
}

.created-by-options,
.assigned-to-options,
.followed-by-options,
.status-options,
.priority-options,
.project-options {
  position: absolute;
  top: 100%;
  left: 0;

  width: min-content;
  white-space: nowrap;

  z-index: 1000;
  display: flex;
  flex-direction: column;

  background-color: #212529;
  border: 1px solid #495057;
  padding: 5px;
  border-radius: 5px;

  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.created-by-container:hover .created-by-options,
.assigned-to-container:hover .assigned-to-options,
.followed-by-container:hover .followed-by-options,
.status-container:hover .status-options,
.priority-container:hover .priority-options,
.project-container:hover .project-options {
  opacity: 1;
  pointer-events: auto;
}

.created-by-option,
.assigned-to-option,
.followed-by-option,
.status-option,
.priority-option,
.project-option {
  text-align: left;
}

.created-by-option.active,
.assigned-to-option.active,
.followed-by-option.active,
.status-option.active,
.priority-option.active,
.project-option.active {
  background-color: #868791;
  border-radius: 5px;
}

.all-tasks, .all-projects {
  height: calc(100vh - 20px);
  display: grid;
  align-items: stretch;
  margin-top: 20px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.all-tasks {
  column-gap: 30px;
  grid-template-columns: repeat(5, 350px);
  overflow-x: scroll;
}

.all-projects {
  column-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  overflow-x: auto;
}

.fixed-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #121212;
}

.fixed-status > h4 {
  flex: 0 0 auto;
  white-space: nowrap;
  margin: 0
}

.fixed-status > p {
  margin-left: 10px;
  color: lightgrey;
  margin-bottom: 2px;
  padding-left: 5px;
}

.card {
  margin-bottom: 5px;
}

.task-data {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  white-space: nowrap;
  max-width: 400px;
}

.task-title {
  display: flex;
  align-items: center;
  gap: 2px;
  text-align: start;
}

.task-priority, .task-assignee, .task-due-date, .task-project, .task-estimated-hours {
  display: inline-block;
}

.message {
  color: green;
  margin-top: 10px;
}

.error {
  color: red;
  margin-top: 10px;
}

.centered-page {
  max-width: 400px;
  margin: 50px auto;
}

.form-div {
  margin-bottom: 10px;
}

.form-input, .form-input > button {
  width: 100%;
  padding: 8px;
}

#sidebar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: min-content;
  white-space: nowrap;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

#sidebar > a {
  margin-bottom: 5px;
  padding: 5px 10px;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  font-style: normal;
}

#sidebar > button {
  background-color: inherit;
  padding: 5px 10px;
  border: inherit;
  width: inherit;
  max-width: min-content;
  border-right: none;
  margin-bottom: 5px;
}

svg {
  margin: 5px 5px 8.5px 0 !important;
  justify-self: auto;
}

#sidebar a.active {
  background-color: var(--bs-secondary-bg);
  border-radius: 10px;
}

#sidebar.collapsed > a > svg, #sidebar.collapsed > button > svg {
  margin: 5px !important;
}

hr {
  width: 40%;
}

input {
  background-color: #212529;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  padding: 2px 5px;
  width: 150px;
}